.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 0 0 0;
}

.page {
  min-width: 28px;
  height: 28px;

  font-size: 1rem;
  color: var(--color-text);
  border-radius: 6px;

  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.page.active {
  background: var(--color-primary);
  color: #fff;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  padding: 0;

  font-size: 1.15rem;
  color: var(--color-primary);
  background: none;
  border: 1px solid var(--color-primary);
  border-radius: 50%;

  cursor: pointer;

  line-height: 1;
  text-align: center;
}

.arrow:disabled {
  color: var(--color-border);
  border-color: var(--color-border);

  cursor: not-allowed;
}

.dots {
  padding: 0 3px;

  font-size: 1rem;
  color: #bbb;
}
